:root {
  --standardgray-1: rgba(239, 239, 239, 1);
  --drop-shadow: 20px 20px 30px 0px rgba(0, 0, 0, 0.15);
}
.frame {
  background-color: #dcd5cd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}


.home-content {
  width: 1250px;
  height: 760px;
  background-color: #dcd5cd;
  overflow-x: hidden;
  width: 1252px;
  height: 1800px;
  position: relative;
}

.overlapGroup {
  position: relative;
  width: 1250px;
  height: 760px;
}

#underlay {
  position: absolute;
  width: 1250px;
  height: 50px;
  top: 710px;
  left: 0;
  background-color: #ffffff;
}

/*Phone*/
@media only screen and (max-width:200px){
  #catdogillus {
    position: relative;
    width: 125px;
    height: 76px;
    top: 40px;
    left: 0px;
  }
}
#catdogillus {
  position: absolute;
  width: 1250px;
  height: 760px;
  top: 0;
  left: 0;
  object-fit: cover;
}


 .header {
  display: flex;
  justify-content: center;
  width: 1250px;
  height: 140px;

  background-color: transparent;
}

 .pet {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 30px;
  left: 90px;
  object-fit: cover;
}

/*Phone*/
@media only screen and (max-width:200px){
  .shortcuts {
    position: relative;
    width: 70vw;
    height: 60px;
    top: 40px;
    left: 0px;
  }
}
 .shortcuts {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 45px;
  left: 525px;
}

 .howitworks {
  position: absolute;
  width: 120px;
  height: 30px;
  top: 20px;
  left: 46px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
}

 .helpus {
  position: absolute;
  width: 80px;
  height: 30px;
  top: 20px;
  left: 215px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
}

 .blog {
  position: absolute;
  width: 57px;
  height: 30px;
  top: 20px;
  left: 340px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
}

 .contact {
  width: 80px;
  height: 30px;
  top: 20px;
  left: 440px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 17px;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
}

 .loginDiv {
  position: absolute;
  width: 90px;
  height: 30px;
  top: 20px;
  left: 565px;
  background-image: url(./img/login.png);
  background-size: 30px 30px;
  cursor: pointer;
}

 .login {
  position: absolute;
  width: 60px;
  height: 30px;
  top: 2px;
  left: 30px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

 .user {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 5px;
  bottom: 5px;
  object-fit: cover;
}

/*Phone*/
@media only screen and (max-width:200px){
  .banner {
    position: relative;
    width: 70vw;
    height: 60px;
    top: 400px;
    left: 0px;
  }
}
 .banner {
  position: relative;
  width: 470px;
  height: 235px;
  top: 120px;
  left: 645px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #3d3d4f;
  font-size: 65px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.overlap {
  position: absolute;
  width: 1250px;
  height: 1036px;
  top: 760px;
  left: 0;
}


 .footer {
  position: absolute;
  width: 1250px;
  height: 1036px;
  top: 0px;
  left: 0;
 
}

 .displayAd {
  position: absolute;
  width: 1166px;
  height: 731px;
  top: 200px;
  left: 42px;
}

 .group {
  position: absolute;
  width: 564px;
  height: 700px;
  top: 16px;
  left: 0;
}

 .backgroundDIV {
  position: relative;
  width: 560px;
  height: 700px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

 .placeholder {
  width: 543px;
  height: 455px;
  top: 11px;
  position: absolute;
  left: 8px;
  object-fit: cover;
}

 .detailsDIV {
  position: absolute;
  width: 485px;
  height: 139px;
  top: 481px;
  left: 19px;
}

 .nameDIV {
  position: absolute;
  width: 50px;
  height: 128px;
  top: 0px;
  left: 0;
}

 .name {
  position: absolute;
  font-size: xx-large;
  width: 50px;
  height: 40px;
  top: 0;
  left: 0;
}


.description {
  position: absolute;
  width: 485px;
  top: 100px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-size: larger;
  font-weight: 400;
  color: #313831;
  font-size: 15px;
  letter-spacing: 0.15px;
  line-height: 22.5px;
}


.status {
  width: 100px;
  height: 23px;
  top: 10px;
  left: 100px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: bolder;
  color: #383138;
  font-size: 15px;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.detailWrapper1 {
  gap: 9.41px;
  padding: 16.94px;
  top: 2px;
  left: 200px;
  display: flex;
  width: 55px;
  height: 55px;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #ffffff;
  border-radius: 7.53px;
  border: 0.94px solid;
  border-color: #f2f2f2;
}
.detailWrapper2 {
  gap: 9.41px;
  padding: 16.94px;
  top: 2px;
  left: 315px;
  display: flex;
  width: 55px;
  height: 55px;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #ffffff;
  border-radius: 7.53px;
  border: 0.94px solid;
  border-color: #f2f2f2;
}
.detailWrapper3 {
  gap: 9.41px;
  padding: 16.94px;
  top: 2px;
  left: 429px;
  display: flex;
  width: 55px;
  height: 55px;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #ffffff;
  border-radius: 7.53px;
  border: 0.94px solid;
  border-color: #f2f2f2;
}

 .breedDIV {
  position: relative;
  width: 43px;
  height: 31.06px;

}

.breedtext {
  position: absolute;
  width: 40px;

  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #313831;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 13px;
  white-space: nowrap;
}

.breedtitle {
  position: absolute;
  width: 28px;
  top: 30px;
  left: 2px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ddd6ce;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}

 .ageDIV {
  position: relative;
  width: 44px;
  height: 33px;
}

.agetext {
  position: absolute;
  width: 40px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #313831;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 13px;
  white-space: nowrap;
}

.agetitle {
  position: absolute;
  width: 28px;
  top: 30px;
  left: 2px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ddd6ce;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}

.sextext {
  position: absolute;
  width: 40px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #313831;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 13px;
  white-space: nowrap;
}

.sexDIV {
  position: relative;
  width: 32px;
  height: 27.82px;
}

.sextitle {
  position: absolute;
  width: 28px;
  top: 30px;
  left: 2px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ddd6ce;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}


.button-52 {
  position: relative;
  width: 200px;
  height: 60px;
  top: 225px;
  left: 120px;
  font-size: xx-large;
  font-weight: bolder;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  color: #ffffff;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: #3d3d4f;
  border-radius: 20px;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

#adopt {
  position: absolute;
  top: 0px;
  left: 50px;
  padding-bottom: 50px;
}

.shrink{
  -webkit-transform:scale(0.5);
  -moz-transform:scale(0.5);
  -ms-transform:scale(0.5);
  transform:scale(0.5);
  }


  .box {
    width: 1440px;
    height: 335px;
  }
  
  .footers-footer {
    position: relative;
    width: 1446px;
    height: 335px;
    top: 1200px;
    left: 0;
  }
  
  .overlapk {
    position: relative;
    width: 1440px;
    height: 335px;
    background-color: #3d3d4f;
  }
  
  .logo {
    position: absolute;
    width: 242px;
    height: 188px;
    top: 81px;
    left: 0;
  }
  
  .pet {
    position: absolute;
    width: 128px;
    height: 128px;
    top: 0;
    left: 56px;
    object-fit: cover;
  }
  
  .text-wrapper {
    position: absolute;
    width: 240px;
    top: 128px;
    left: 0;
    font-family: "Caveat Brush-Regular", Helvetica;
    font-weight: 400;
    color: #f2f2f2;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.6px;
    line-height: 42.3px;
  }
  
  
  
  .div {
    position: absolute;
    width: 155px;
    height: 33px;
    top: 0;
    left: 0;
    font-family: "Noto Sans Hebrew New-Bold", Helvetica;
    font-weight: 700;
    color: #f2f2f2;
    font-size: 26px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  
  
  .p {
    position: absolute;
    width: 290px;
    height: 33px;
    top: 128px;
    left: 931px;
    font-family: "Noto Sans Hebrew New-Bold", Helvetica;
    font-weight: 700;
    color: #f2f2f2;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .newsletter {
    position: absolute;
    width: 369px;
    height: 40px;
    top: 177px;
    left: 907px;
  }
  
  .overlap-group {
    position: relative;
    width: 365px;
    height: 40px;
    background-color: #d9d9d9;
    border-radius: 25px;
  }
  
  .div-wrapper {
    position: absolute;
    width: 120px;
    height: 40px;
    top: 0;
    left: 245px;
    background-color: #f2f2f2;
    border-radius: 25px;
  }
  
  .text-wrapper-3 {
    position: absolute;
    width: 88px;
    height: 23px;
    top: 8px;
    left: 16px;
    font-family: "Noto Sans Hebrew New-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .text-wrapper-4 {
    position: absolute;
    width: 82px;
    height: 21px;
    top: 10px;
    left: 14px;
    font-family: "Sans Serif Collection-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .text-wrapper-5 {
    position: absolute;
    width: 223px;
    height: 31px;
    top: 280px;
    left: 126px;
    font-family: "Noto Sans Hebrew New-Regular", Helvetica;
    font-weight: 400;
    color: #f2f2f2;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .text-wrapper-6 {
    position: absolute;
    width: 76px;
    height: 20px;
    top: 286px;
    left: 897px;
    font-family: "Noto Sans Hebrew New-Regular", Helvetica;
    font-weight: 400;
    color: #f2f2f2;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .line {
    position: absolute;
    width: 1200px;
    height: 1px;
    top: 272px;
    left: 120px;
    object-fit: cover;
  }