:root {
  --standardgray-1: rgba(239, 239, 239, 1);
  --drop-shadow: 20px 20px 30px 0px rgba(0, 0, 0, 0.15);
}

body, html{
  width: 100%;
  height: 200vh;
  background-color: #dcd5cd ;
}

.frame {
  background-color: #dcd5cd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1300px;
}


.home-content {
  width: 1300px;
  height: 810px;
  background-color: #dcd5cd;
  overflow-x: hidden;
  width: 1300px;
  height: 1800px;
  position: relative;
}

.overlapGroup {
  position: relative;
  width: 1300px;
  height: 760px;
}

#underlay {
  position: absolute;
  width: 1300px;
  height: 300px;
  top: 700px;
  left: 0;
  background-color: #f2f2f2;    
  box-shadow: 0 4px 6px -6px #222;
}

/*Phone*/
@media only screen and (max-width:200px){
  #catdogillus {
    position: relative;
    width: 750px;
    height: 760px;
    top: 40px;
    left: -50px;
  }
}
#catdogillus {
  position: absolute;
  width: 1300px;
  height: 810px;
  top: 0px;
  left: 0;
  object-fit: cover;
  -webkit-user-drag: none;
  user-select: none;
}


 .header {
  display: flex;
  justify-content: center;
  width: 1250px;
  height: 140px;
  background-color: transparent;
}

 .pet {
  position: absolute;
  margin-top: 20px;
  width: 80px;
  height: 80px;
  top: 20px;
  left: 90px;
  object-fit: cover;
}

/*Phone*/
@media only screen and (max-width:200px){
  .shortcuts {
    position: relative;
    width: 70vw;
    height: 60px;
    top: 40px;
    left: 0px;
  }
}
 .shortcuts {
  position: absolute;
  width: 100%;
  height: 50px;
  left: 525px;
}

 .howitworks {
  position: absolute;
  width: 120px;
  height: 30px;
  top: 20px;
  left: 46px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
}

 .helpus {
  position: absolute;
  width: 80px;
  height: 30px;
  top: 20px;
  left: 215px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
}

 .blog {
  position: absolute;
  width: 57px;
  height: 30px;
  top: 20px;
  left: 340px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
}

 .contact {
  width: 80px;
  height: 30px;
  top: 20px;
  left: 440px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 17px;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
}

 .loginDiv {
  position: absolute;
  width: 90px;
  height: 30px;
  top: 20px;
  left: 565px;
  background-size: 30px 30px;
  cursor: pointer;
}

 .login {
  position: absolute;
  width: 60px;
  height: 30px;
  top: 0px;
  left: 30px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

 .user {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  left: 5px;
  bottom: 5px;
  object-fit: cover;
}

/*Phone*/
@media only screen and (max-width:200px){
  .banner {
    position: relative;
    width: 70vw;
    height: 60px;
    top: 400px;
    left: 0px;
  }
}
 .banner {
  position: relative;
  width: 470px;
  height: 235px;
  top: 120px;
  left: 645px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #3d3d4f;
  font-size: 65px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.container {
  position: absolute;
  top: 800px;
  background-color: #f2f2f2;
  
}

.overlap {
  position: absolute;
  background-color: #dcd5cd;
  width: 1300px;
  height: 4325px;
  top: 1005px;
  left: 0;
}

 .footer {
  position: absolute;
  width: 1300px;
  top: 0px;
  left: 0;
}

 .displayAd {
  position: absolute;
  width: 435px;
  height: 4150px;
  top: 80px;
  left: 45px;
}

 .group {
  position: sticky;
  width: 420px;
  height: 585px;
  top: 15px;
  left: 0;
  margin: 10px;
}

 .backgroundDIV {
  position: relative;
  width: 410px;
  height: 585px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 5px;
  
}

#placeholder {
  width: 392px;
  height: 315px;
  top: 11px;
  position: absolute;
  left: 8px;
  object-fit: cover;
}

 .detailsDIV {
  position: absolute;
  width: 392px;
  height: 100px;
  top: 340px;
  left: 8px;
  text-align: center;
}

 .nameDIV {
  position: absolute;
  width: 135px;
  height: 100px;
  top: 0;
  left: 0;
  text-align: center;
  justify-content: center;
}

#name {
  position: absolute;
  width: 135px;
  height: 100px;
  font-weight: bolder;
  font-size: xx-large;
  top: 0;
  left: 0;
}


#description {
  position: absolute;
  width: 392px;
  top: 100px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-size: larger;
  font-weight: 400;
  color: #313831;
  font-size: 15px;
  letter-spacing: 0.15px;
  line-height: 22.5px;
}


#status {
  width: 100px;
  height: 30px;
  padding: 5px;
  top: 5px;
  left: 135px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: bolder;
  color: #383138;
  font-size: 15px;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.detailWrapper1 {
  gap: 9px;
  padding: 7px;
  top: 2px;
  left: 235px;
  display: flex;
  width: 150px;
  height: 25px;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #f2f2f2;
  border-radius: 8px;
  border: 0.95px solid;
  border-color: #f2f2f2;
}
.detailWrapper2 {
  gap: 9px;
  padding: 7px;
  top: 35px;
  left: 235px;
  display: flex;
  width: 150px;
  height: 25px;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #f2f2f2;
  border-radius: 8px;
  border: 0.95px solid;
  border-color: #f2f2f2;
}
.detailWrapper3 {
  gap: 9px;
  padding: 7px;
  top: 70px;
  left: 235px;
  display: flex;
  width: 150px;
  height: 25px;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #f2f2f2;
  border-radius: 8px;
  border: 0.95px solid;
  border-color: #f2f2f2;
}

 .breedDIV {
  position: absolute;
  padding: 5px;
  width: 150px;
  height: 25px;

}

#breedtext {
  position: absolute;
  left: 50px;
  width: 90px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #313831;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 13px;
  white-space: nowrap;
}

.breedtitle {
  position: absolute;
  width: 28px;
  left: 5px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #df7c0a;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}

 .ageDIV {
  position: absolute;
  padding: 5px;
  width: 150px;
  height: 25px;
}

#agetext {
  position: absolute;
  left: 50px;
  width: 40px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #313831;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 13px;
  white-space: nowrap;
}

.agetitle {
  position: absolute;
  left: 50px;
  width: 28px;
  left: 5px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #df7c0a;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}

#sextext {
  position: absolute;
  left: 50px;
  width: 40px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #313831;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 13px;
  white-space: nowrap;
}

.sexDIV {
  position: absolute;
  padding: 5px;
  width: 150px;
  height: 25px;
}

.sextitle {
  position: absolute;
  width: 28px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #df7c0a;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}


#button-52 {
  position: absolute;
  width: 200px;
  height: 60px;
  top: 515px;
  left: 100px;
  font-size: xx-large;
  font-weight: bolder;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  color: #f2f2f2;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 1;
}

#button-52:after {
  content: "Adopt";
  background-color: #3d3d4f;
  border-radius: 20px;
  width: 100%;
  position: absolute;
  padding-left: 50px;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
}

#button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

#adopt {
  position: absolute;
  top: 0px;
  left: 50px;
  padding-bottom: 50px;
}


.adLists{
  position: absolute;
  left: 525px;
  top: 50px;
  width: 720px;
  height: auto;
  padding: 10px;
  padding-left: 100px;
}


.shrink{
  -webkit-transform:scale(0.5);
  -moz-transform:scale(0.5);
  -ms-transform:scale(0.5);
  transform:scale(0.5);
  }


  .box1 {
    position: absolute;
    top: 2170px;
    width: 1440px;
    height: 200px;
  }
  .box {
    background-color: #f2f2f2;
    border-radius: 20px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    max-width: 500px;
  }
  
.submit{
  position: absolute;
  left: 200px;
  top: 35px;
  background-color: #000000;
  color: #f2f2f2;
}
  
.inputEmail {
  position: absolute;
  top: 180px;
  left: 900px;
  color: #f2f2f2;
   
}

.inputEmail:focus, .btn1:focus {
  outline: 0;
}
  
  .footers-footer {
    position: relative;
    width: 1250px;
    height: 335px;
    top: 350vh;
    left: 0;
  }
  
  .overlapk {
    position: relative;
    width: 1300px;
    height: 335px;
    background-color: #3d3d4f;
  }
  
  .logo {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 81px;
    left: 0;
  }
  
  .pet {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    left: 56px;
    object-fit: cover;
  }
  
  .logoName {
    position: absolute;
    width: 80px;
    top: 128px;
    left: 10px;
    font-family: "Caveat Brush-Regular", Helvetica;
    font-weight: 400;
    color: #f2f2f2;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.6px;
    line-height: 42.3px;
  }


  .overlapk {
    display: flex;
    justify-content: space-around;
  }

  
  
  .copyright {
    position: absolute;
    width: 223px;
    height: 31px;
    top: 280px;
    left: 126px;
    font-family: "Noto Sans Hebrew New-Regular", Helvetica;
    font-weight: 400;
    color: #f2f2f2;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .line {
    position: absolute;
    top: 260px;
    width: 1200px;
    height: 0;
    border: 1px solid #f2f2f2;
    margin: 3px;
    display:inline-block;
  }

#petList div {
  background-color: #f2f2f2;
  border: 2px solid;
  width: 500px;
  border-radius: 5px;
  justify-content:center;
  left: 50%;
  padding: 10px;
  padding-left: 100px;
  margin: 10px;
}

#overlay {
  position: relative; /* Sit on top of the page content */
   /* Hidden by default */
  width: 300px; /* Full width (cover the whole page) */
  height: 200px; /* Full height (cover the whole page) */
  top: -80px;
  left: 50px;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}